attrs==19.3.0
autobahn==20.4.2
Automat==20.2.0
cffi==1.14.0
click==7.1.1
constantly==15.1.0
cryptography==2.9
Flask==1.1.2
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pycparser==2.20
PyHamcrest==2.0.2
roslibpy==1.0.0
six==1.14.0
Twisted==20.3.0
txaio==20.4.1
Werkzeug==1.0.1
zope.interface==5.1.0
